* {
  font-family: "JetBrains Mono NerdFont";
  font-size: 16px;
}

window {
  color: #F5BDE6;
  background-color: #1F1F28;
}

window#waybar {
  color: #F5BDE6;
  background-color: #1F1F28;
}

#workspaces button {
  color: #F5BDE6;
}

#workspaces button.active {
  background-color: #2A2A37;
  border-radius: 0;
  border-top: 3px solid #F5BDE6;
}

#workspaces button.hover {
  background-color: #2A2A37;
}

#pulseaudio {
  padding: 0 10px;
}

#clock {
  padding: 0 10px;
}
