@define-color bg #1C2026;
@define-color bg-alt #282E36;
@define-color fg #C8C4AA;
@define-color primary #F5BDE6;
@define-color secondary #8ABEB7;
@define-color active #A54242;
@define-color disabled #707880;

* {
  font-family: "JetBrains Mono NerdFont";
  font-size: 16px;
}

window {
  color: @primary;
  background-color: @bg;
}

window#waybar {
  color: @primary;
  background-color: @bg;
}

#workspaces button {
  /* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
  box-shadow: inherit;
  text-shadow: inherit;

  color: @primary;

  border-radius: 0;
  border: none;
  border-top: 3px solid @bg;

  padding: 6px 11px;
}

#workspaces button.active {
  background-color: @bg-alt;
  border-top: 3px solid @primary;
}

#workspaces button:hover {
  background: @bg-alt;
  border-top: 3px solid @primary;
}

#custom-brightness {
  padding: 0 10px;
}

#pulseaudio {
  padding: 0 10px;
}

#clock {
  padding: 0 10px;
}
